*{
	margin: 0;
	/* padding: 0; */
	overflow: auto;
}

span{
	display: inline-block;
	font-weight: bold;
	/* animation: mover 6s linear infinite; */
}

@keyframes mover {
	0%{
		text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	}
	50%{
		text-shadow: 0 0 3px orange, 0 0 10px red;
		/* transform: translateY(20px); */
		transform: translateX(100px);
	}
	100%{
		text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF
	}
}

.me{
	height: 200px;
	width: 500px;
    padding: 20px;
	
	position: relative;top: 110%; left: 20px;

	font-size: 20px;
	font-family: sans-serif;
	color:greenyellow;
	/* word-wrap: break-word;  */
	position: absolute;
	text-align: justify;
	

	border: 5px solid red;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
	/* border-color:  red;
	border-width: 10px; */
	/* text-align: inherit; */
	/* transform: translate(-25%,-50%); */
}


h3{
	position: relative; left:170px;
	margin:0px;
	padding: 20px;
	color: yellow;
}

.profim{

	height: 250px;
	width: 250px;
	
	background: url('https://lh3.googleusercontent.com/-jmoEtzjQw7btJJ1wTgPt6STU4XMcpOT-xKrJ2AQqCDDxHbThBztK8vwMkF1wwYzl_AeM1p02Fm1-OVLo3DgsdY46T0-sPm2UAZWm6OPhTpVgCJpBtj_pQ0FrmgwSoD840rQ9KP0jGXjPzPMly2oVnRLAGNgzr3B6avvxP7hBRX9_dZWkOiaqC_7oGC0fJ2PenQwFS8fu7LexfBmurJ0GJx8iKlfFgwhuw99eaY_Ql-u1dyFSAvVCN62Z7DYSsXZiCTEcy3W3JFOXiWlUiqRn9aUe2Uw824srqPpZdvgM8U3eRhABhfj6-qZbR18Mv6_gu10fyl7SEL47059_u2la63vL-bvAvjQ6a5EJzbPzxuu3V31niQduUxnyzwCtbDRHT1qegZ4L2J0LGL2HKwP7zGvdZ_PmnOtCKkqjpjiUt74dKLpfZiAA9DCBWJLPnmmvmaJjdJmVufWg6xucaKm_-gb_y8fCvWJ077OvvW4scpgWmkMh-laL6oDC6kcaXFU6Po8V42XW8QEONA8XvirNWsyx7A0l86hb_fCHZXAUjuJ4aNsZ8KO3gIueVS6PWKXeLLI8vQVf19pt7o4IVidpn1R_-LSxBGzm7CMNROXvn0eNpEnK0lGxOAj6qC-mQkNu6OzgmsV1bflWInez8rTXF2INdahWPtmRizPXt6jyuQI5t2G23LWGp0JIpCOOPUhhmOeA8CVyhbsFvZn0F52D7boxdyL3opmhjnTDAiP1Fz-uk9gdMCHn5mjzZR2bVlLMDmp-7EPM4tF4qfO36jf0qnzRyiqdWgI=w744-h741-no?authuser=0');
	background-size: cover;
	opacity: 0.75;
	margin-left: auto;
	margin-right: auto;
	/* transform: translate(-50%,-50%); */
	margin-top: 15%;
	/* background-repeat: repeat-y; */
	/* position: absolute; */

}

.edu{
	height: 200px;
	width: 500px;
    padding: 20px;
	
	position: relative;top: 110%; right: 20px;

	font-size: 20px;
	font-family: sans-serif;
	color:greenyellow;
	/* word-wrap: break-word;  */
	position: absolute;
	text-align: justify;
	

	border: 5px solid red;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.slogan{
	position: relative;top: 120px;left: 44%;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	color: red;

	/* display: inline-block; */
	/* animation: mover2 6s linear infinite; */
}

@keyframes mover2 {
	0%{
		text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	}
	50%{
		text-shadow: 0 0 3px orange, 0 0 10px red;
		/* transform: translateY(20px); */
		transform: translatey(20px);
	}
	100%{
		text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF
	}
}

/* h3{
	
	/* transform: translate(-50%,-50%); */


.achievments{
	height: 300px;
	width: 500px;
    padding: 20px;
	
	position: relative;bottom : -100%; right: 20px;

	font-size: 20px;
	font-family: sans-serif;
	color:greenyellow;
	/* word-wrap: break-word;  */
	position: absolute;
	text-align: justify;
	

	border: 5px solid red;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

}

.skills{
	height: 300px;
	width: 500px;
    padding: 20px;
	/* margin:0px; */
	
	position: relative;bottom : -100%; left: 20px;

	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color:greenyellow;
	/* word-wrap: break-word;  */
	position: absolute;
	text-align: justify;
	

	border: 5px solid red;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.sk1{
	float: left;
}
.sk2{
	float: left;
}

.im2{
	/* position:relative;top: 110%; */
	display: inline-block;
	height: 900px;
	width: 1900px;
	/* background-image: url(/home/rkiiith/Desktop/rohan.jpeg); */
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-Purple-Checked-Background-Image.jpg');
	background-size: contain;
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
}

/* div{
	margin: 0px;
	padding: 0px;
}*/

body{
	padding:0px;
	margin:0px;
 }

 .typed-out1{
	position: relative;top: 40%;left: 25%;
	position: absolute;
	font-size: 50px;
	white-space: nowrap;
	color: yellow;
	overflow: hidden;
	animation: typewriter 5s steps(50) infinite alternate,
	  blink 800ms steps(50) infinite normal;
	border-right: 5px solid black;
 }

 @keyframes typewriter {
	from {
	  width: 0%;
	}
	to {
	  width: 47%;
	}
  }


  @keyframes blink {
	from {
	  border-color: black;
	}
	to {
	  border-color: transparent;
	}
  }
 
  table, th, td {
	text-align: justify;
	border: 2px solid white;
	padding: 20px;
	color: yellow;
	height: 100%;
	font-weight: bolder;
	font-family:sans-serif ;
	font-size: 20px;
  }

  .rk{
	  text-align: center;
	  color: yellowgreen;
  }
  
  .im3{
	display: inline-block;
	height: 900px;
	width: 1900px;
	/* background-color: aqua; */
	/* background-image: url(/home/rkiiith/Desktop/rohan.jpeg); */
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('https://t4.ftcdn.net/jpg/03/00/85/23/360_F_300852364_qSrtNxY6pokaVR7er7knpb8AyYJSxtUd.jpg');
	background-size:cover;
	margin: 0px;
	padding: 0px; 
	overflow: hidden;
  }

  .mvtxt{
	position: relative;top: 90%;left: 10%;
	font-size: 50px;
	white-space: nowrap;
	color: red;
	overflow: hidden;
	animation: typewriter2 5s steps(50) infinite alternate,
	  blink 800ms steps(50) infinite normal;
	border-right: 5px solid black;
  }
  button.internallink{
	position: relative;top: 5px;
	margin-left: 35%;
	height: 50px;
	width: 100px;
	background-color: orange;
	border: green;
	border-radius: 25%;
  }

  button.externallink{
	position: relative;top: -45px;
	margin-left: 60%;
	/* margin-bottom: 10%; */
	height: 50px;
	width: 100px;
	background-color: orange;
	border: green;
	border-radius: 25%;
  }

  .internallink :hover{
	  background-color: orangered;
  }
  /* .internallink a#int{
	color: red;
	font-weight: 50px;
	font-family: sans-serif;
	position: relative;left: 45%; */
  /* } */
  a#int :hover{
	  color:yellow;
  }
   a#int :visited{
	  color:orange;
  }

  @keyframes typewriter2 {
	from {
	  width: 0%;
	}
	to {
	  width: 75%;
	}
  }

  div#divn{
	height : 900px;
	width : 1900px;
	background-color: chocolate;
	/* background-size: cover; */
	background-repeat: repeat-y;
  }

  a{
	  display: inline;
  }

  .Ashneer{
	  position: relative;top:20%;left: 37%;
	  height: 350px;
	  width: 500px;
	  background-image: url('https://img.freepik.com/free-photo/javascript-programming-code-abstract-technology-background_272306-155.jpg');
	  background-size: contain;
  }
  button.but1,.but2,.but3,.but4,.but5{
	  position: relative;top:30%;left: 36%;
  }
  button.but6,.but7,.but8{
	 position: relative;top:40%;left: 13.5%;
  }

  button.but1,.but2,.but3,.but4,.but5,.but7,.but6,.but8{
	height: 50px;
	width: 100px;
	color: crimson;
	font-family: sans-serif;
	font-weight: bold;
	border-radius: 25%;
	margin-right: 3px;
  }

#test{
	/* position: relative;top:10%; */
	position:relative;left: 0%;top:10%;
	text-align: center;
	font-size: 30px;
	font-family: fantasy;
	font-weight: bold;
}

/* form{
	height: 200px;
	width: 50px;
} */
.news{
	background-color:wheat;
	/* position: absolute; */
	/* height: 50px;
	width: 100px; */
	
	/* text-decoration-color:yellow; */
	/* text-align: justify; */
	color: blue;
	/* border: red; */
	padding: 0px;
	margin-left: 25.5%;
	font-size: 20px;
	/* text-indent: 0%;
	text-anchor: start; */
	/* cursor: default; */
}

.newsbut{
	/* position:relative;top: 45%; left: 13%; */
	margin-left: 47%;
	height: 50px;
	width: 100px;
	border: 3px solid darkgoldenrod;
	background-color: darkkhaki;
	border-radius: 25%;
}

marquee{
	opacity: 0.5;
	font-size: 20px;
	background-color:white;
	margin-left: 25%;
	margin-top: 30px;
	color: black;
	font-weight: bolder;
	padding-left: 20px;
}

.textnews{
	font-weight: bold;
	font-size: 50px;
	font-family: sans-serif;
	font-style: normal;
	color: brown;
	text-align: center;
}

.typebox{
	height: 25px;
	width: 200px;
	background-color: cadetblue;
	color: crimson;
	font: bolder;
	font-size: 20px;
	text-align: center;
	margin-left: 45%;
}